<div class="presentation">
  <h1>Personalización</h1>
  <img src="../../../assets/images/user-default.png" alt="username" />
</div>

<div class="opciones">
  <div class="opciones-item">
    <div class="item-img-container">
      <img src="../../../assets/images/pintura.png" alt="pintura" />
    </div>
    <h2>Pintura</h2>
  </div>

  <div class="opciones-item">
    <div class="item-img-container">
      <img src="../../../assets/images/neumaticos.png" alt="neumaticos" />
    </div>
    <h2>Neumáticos</h2>
  </div>

  <div class="opciones-item">
    <div class="item-img-container">
      <img src="../../../assets/images/luna.png" alt="lunas" />
    </div>
    <h2>Lunas</h2>
  </div>
</div>

<!-- <mat-card routerLink="/personalizacion">
    <mat-card-header>
      <img
        mat-card-image
        class="card-image"
        src="../../../assets/images/personalizacion.png"
      />
    </mat-card-header>
    <mat-card-title>Personalización</mat-card-title>
  </mat-card>

  <mat-card routerLink="/mantenimiento">
    <mat-card-header>
      <img
        mat-card-image
        class="card-image"
        src="../../../assets/images/mantenimiento.png"
      />
    </mat-card-header>
    <mat-card-title>Mantenimiento</mat-card-title>
  </mat-card>

  <mat-card routerLink="/mantenimiento">
    <mat-card-header>
      <img
        mat-card-image
        class="card-image"
        src="../../../assets/images/mantenimiento.png"
      />
    </mat-card-header>
    <mat-card-title>Mantenimiento</mat-card-title>
  </mat-card> -->
