.title{
  font-size: 60px;
  margin-top: 30px;
  text-align: center;
}

h1{
  font-size: 20px;
  font-weight: bold;
}

.informacion{
  margin: 100px 100px;

}

.casillas{
  display: flex;
  flex-wrap: wrap;
}

.item{
  margin: 20px 20px;
}


.vehiculo{
  margin: 100px 100px;
  display:flex;
  flex-wrap: wrap;
}

.casillas-left{
  display: flex;
  flex-wrap: wrap;

}

p{
  font-size: 20px;
  color: gray;
}

input{
  border-radius: 5px;
  height: 50px;
  width: 250px;
  font-size: 20px;
  border-width: 1px;
  border-color:darkcyan;

}





