<app-nav-cliente></app-nav-cliente>

  <h1 class="title">Mantenimiento</h1>

  <div class="itemfecha">
    <p class="itemfecha"> FECHA</p>
    <input class="itemfecha" [disabled]="true" value="{{fecha}}">
  </div>

<div class="informacion">
  <h1>Mi información</h1>
  <div class="casillas">
    <div class="item">
      <p>NOMBRE</p>
      <input [disabled]="true" value="{{nombre}}">
    </div>
    <div class="item">
      <p>APELLIDO</p>
      <input [disabled]="true" value="{{apellido}}">
    </div>
    <div class="item">
      <p>EMAIL</p>
      <input [disabled]="true" value="{{email}}">
    </div>
    <div class="item">
      <p>DIRECCIÓN</p>
      <input [disabled]="true" value="{{direccion}}">
    </div>
    <div class="item">
      <p>CIUDAD</p>
      <input [disabled]="true" value="{{ciudad}}">
    </div>
  </div>
</div>

<div class="vehiculo">
  <div class="left">
    <h1>Mi Vehìculo</h1>
    <div class="casillas-left">
      <div class="item">
        <p>MARCA</p>
        <input [disabled]="true" value="{{marca}}">
      </div>
      <div class="item">
        <p>MODELO</p>
        <input [disabled]="true" value="{{modelo}}">
      </div>
      <div class="item">
        <p>PLACA</p>
        <input [disabled]="true" value="{{placa}}">
      </div>
      <div class="item">
        <p>SOAT</p>
        <input [disabled]="true" value="{{soat}}">
      </div>
      <div class="item">
        <p>RENOVACIÓN</p>
        <input [disabled]="true">
      </div>
      <div class="item">
        <p>REVISIÓN TECNICA</p>
        <input [disabled]="true" value="{{revision}}">
      </div>
      <div class="item">
        <p>RENOVACIÓN</p>
        <input [disabled]="true">
      </div>
    </div>
  </div>
</div>
