<div class="presentation">
  <h1>¡Bienvenido!</h1>
  <img src="../../../assets/images/car-logo.png">
</div>

<form [formGroup]="myform">

  <div class="login">

    <div *ngIf="!esValido" class="alert alert-danger" role="alert">
      El correo o contraseña son incorrectos.
    </div>

    <div class="example-container">
      <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email" required>
        <mat-error></mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-stroked-button (click)="verificarUsuario()">Ingresar</button>



      <div class="opcion">
        <a> ¿Olvidaste tu contraseña?</a>
        <a class="font-weight-bold text-decoration-none font-700"
        > Recuperar mi contraseña</a>
      </div>
      <div class="opcion">
        <a> No tengo cuenta</a>
        <a class="font-weight-bold text-decoration-none font-700"
        routerLink="/signup"> Crear cuenta</a>
      </div>


    </div>


  </div>
</form>

