<app-nav-cliente></app-nav-cliente>

<div class="presentation">
  <h1>¡Bienvenido!</h1>
  <img src="../../../assets/images/car-logo.png">

</div>

<div class="opciones">
  <mat-card routerLink="/personalizacion">
    <mat-card-header>
      <img mat-card-image  class="card-image" src="../../../assets/images/personalizacion.png">
    </mat-card-header>
    <mat-card-title>Personalización</mat-card-title>
  </mat-card>

  <mat-card routerLink="/mantenimiento">
    <mat-card-header>
      <img mat-card-image  class="card-image" src="../../../assets/images/mantenimiento.png">
    </mat-card-header>
    <mat-card-title>Mantenimiento</mat-card-title>
  </mat-card>
</div>

