<form [formGroup]="myForm" class="form">
  <h2>Registro</h2>

  <mat-form-field appearance="standard" class="w-50 mb-4">
    <mat-label class="font-lighter">Nombre</mat-label>
    <input matInput formControlName="nombre" placeholder="Nombre" />
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('nombre')?.hasError('required') && myForm.get('nombre')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>


  <mat-form-field appearance="standard" class="w-50 mb-4">
    <mat-label class="font-lighter">Apellido</mat-label>
    <input matInput formControlName="apellido" placeholder="Apellido" />
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('apellido')?.hasError('required') && myForm.get('apellido')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>


  <mat-form-field appearance="standard" class="w-50 mb-0">
    <mat-label class="font-lighter">Email</mat-label>
    <input matInput formControlName="email" placeholder="Email" />
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('email')?.hasError('required') && myForm.get('email')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>
  <div *ngIf="myForm.get('email')?.hasError('email') && myForm.get('email')?.touched">
    <span class="text-danger"> Ingrese un email válido</span>
  </div>


  <mat-form-field appearance="standard" class="w-50 mb-4">
    <mat-label class="font-lighter">Modelo Vehículo</mat-label>
    <input matInput formControlName="modeloVehiculo" placeholder="Modelo Vehículo" />
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('modeloVehiculo')?.hasError('required') && myForm.get('modeloVehiculo')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>


  <mat-form-field appearance="standard" class="w-50 mb-4">
    <mat-label class="font-lighter">Direccion</mat-label>
    <input matInput formControlName="direccion" placeholder="Direccion" />
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('direccion')?.hasError('required') && myForm.get('direccion')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>


  <mat-form-field appearance="standard" class="w-50 mb-4">
    <mat-label class="font-lighter">Ciudad</mat-label>
    <input matInput formControlName="ciudad" placeholder="Ciudad" />
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('ciudad')?.hasError('required') && myForm.get('ciudad')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>

  <mat-form-field appearance="standard" class="w-50 mb-4">
    <mat-label class="font-lighter">Password</mat-label>
    <input matInput formControlName="password" placeholder="Password" type="password"/>
  </mat-form-field>
  <br />

  <div *ngIf="(myForm.get('password')?.hasError('required') && myForm.get('password')?.touched)">
    <span class="text-danger">*Campo obligatorio</span>
  </div>

  <div class="text-end w-50">
    <button mat-raised-button id="btn-ingresar"
      class="font-lighter w-50" routerLink="/login">
      Cancelar</button>
    <button mat-raised-button id="btn-ingresar" mat-raised-button [disabled]="myForm.invalid"
      class="font-lighter w-50" (click)="addCliente()">
      Listo
    </button>
  </div>

</form>
